body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 30px solid blue;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px (0, 0, 0, 0.1);
    background: #fff;
    background-color: white;
}
#display {
    width: 100%;
    padding: 20px;
    border: none;
    text-align: right;
    font-size: 2em;
    box-sizing: border-box;
    border: 10px solid blue;
   
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: blue;
}

.btn {
    padding: 20px;
    border: none;
    background-color: skyblue;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: white;
}

.btn:active {
    background-color: white;
}
